body {
    background-image: url(../images/terran-marine.jpg);
    background-repeat: no-repeat;
    height: 1080px;
}
  
.game-name {
    background-color: rgba(253, 227, 167, 0.3);
    width: 250px;
    height: 75px;
    color: white;
    text-align: center;
    margin-left: 15px;
    margin-bottom: 5px;
}

.rules {
    display: inline-block;
    margin-top: 10px;
    height: 400px;
    background-color: rgb(255,99,71, 0.3);

}
.score-box {
    float: left;
    margin-top: 15px;
    width: 250px;
    height: 125px;
    background-color: darkgreen;
}

.win-loss {
    margin-top: 15px;
    margin-right: 130px;
    width: 125px;
    height: 125px;
    float: left;
    background-color: yellow;
}

.protoss {
    margin-top: 153px;
    width: 100px;
}

.terran {
    margin-top: 153px;
    width: 100px;
}

.zerg {
    margin-top: 153px;
    width: 100px;
}


    

